html {
    font-size: 62.5%;
    @include tablet-only {
        font-size: 50%;
    }
    @include mobile-only {
        font-size: 40%;
    }
}

body {
    margin: 0;
    padding: 0;
    color: $color-font;
    background-color: $color-white;
}