.maBio {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include mobile-only {
        justify-content: space-between;
    }

    &-blob {
        margin-right: 5vw;
        margin-left: 15vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:first-of-type {
            margin-top: 5rem;
            & .maBio-blob__img {
                animation: blob-movement 5s infinite linear;
            }
        }
        &:last-child {
            margin-bottom: 5rem;
            & .maBio-blob__img {
                animation: blob-movement 5s reverse infinite linear;
            }
        }
        @include mobile-only {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            &:first-of-type {
                margin-top: -5rem;
            }
        }

        &__img {
            width: 25rem;
            filter: drop-shadow(4px 4px 8px $color-shadow);
        }

        &__p {
            padding-left: 5vw;
            @include mobile-only {
                text-align: center;
                padding: 2rem;
            }
        }
    }
}