$color-white: #FBFBFB;
$color-background: #FCF6EA;
$color-font: #22272E;
$color-shadow: #9C9592;
$color-btn-background: #FFE779;
$color-valid: #6D9E99;
$color-invalid: #FF4E67;

$font-title: 'Unbounded', sans-serif;
$font-body: 'Montserrat';

$breakpoints: (
    tablet: 769px
);