$color-white: #FBFBFB;
$color-background: #FCF6EA;
$color-font: #22272E;
$color-shadow: #9C9592;
$color-btn-background: #FFE779;
$color-valid: #6D9E99;
$color-invalid: #FF4E67;

$font-title: 'Unbounded', sans-serif;
$font-body: 'Montserrat';

$breakpoints: (
    tablet: 769px,
    mobile: 426px
);

$form-border: 0.4rem solid $color-font;
$form-border-valid: 0.4rem solid $color-valid;
$form-border-invalid: 0.4rem solid $color-invalid;
$form-border-raduis: 999rem;
$form-margin-bottom: 2rem;
$form-margin-bottom-texts: 0.8rem;
$form-padding: 1.5rem;

$animation-shake-intensity: 1%;
$animation-blob-intensityX: 4%;
$animation-blob-intensityY: 4%;