// Use placeholders

.forms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 80%;
    @include mobile-only {
        width: 95%;
    }
    &-email {
        display: flex;
        align-items: flex-end;
        width: 100%;
        &__case {
            width: 70%;
            @extend %layout-field;
            @extend %layout-field-input;
        }
        &--img {
            width: 30%;
            height: 14rem;
        }
    }
    &-title__case {
        width: 100%;
        @extend %layout-field;
        @extend %layout-field-input;
    }
    &-texts__case {
        @extend %layout-field;
        border-radius: 3rem;
        margin-bottom: $form-margin-bottom-texts;
        width: 100%;
        height: 70%;
        resize: none;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 4rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-font;
            background-clip: padding-box;
            border: 1.5rem solid rgba(0, 0, 0, 0);
            border-radius: 20rem;
        }
    }
    &--input {
        transition: background-color 1s cubic-bezier(0,.4,.19,.98);
        &::placeholder {
            color: $color-font;
            font-weight: bold;
        }
        &:focus {
            outline: none;
            &:valid {
                border: $form-border-valid;
            }
            &:invalid {
                border: $form-border-invalid;
                background-color: initial;
            }
        }
        &:not(:focus) {
            &:valid {
                background-color: $color-valid;
                font-weight: bold;
            }
            &:not(:placeholder-shown):invalid {
                background-color: $color-invalid;
                font-weight: bold;
                animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
            }
        }
    }
    &__attention {
        font-size: 1.2rem;
    }

    &-response {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 80%;
        @include mobile-only {
            width: 95%;
        }
        &__valid {
            color: $color-valid;
            &.material-symbols-outlined {
                font-size: 10rem;
            }
        }
        &__infoValid {
            border: $form-border;
            border-radius: 3rem;
            padding: $form-padding;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            &--title {
                font-size: 2.5rem;
                margin: 0;
            }
            // &--body {
            //     font-size: 1.8rem;
            // }
            &--span {
                font-weight: bold;
            }
        }
        &__invalid {
            color: $color-invalid;
            &.material-symbols-outlined {
                font-size: 10rem;
            }
        }
        &--title {
            font-size: 3rem;
            text-align: center;
        }
    }
}
